name: Build WebCM

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ checkout 仓库代码
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ 安装 Docker（Ubuntu runner 自带）
      # - name: Set up Docker
      #   uses: docker/setup-buildx-action@v2
      #   with:
      #     buildkitd-flags: --debug

      # 3️⃣ 构建 Docker builder 镜像
      - name: Build Docker builder image
        run: docker build --platform=linux/amd64 --tag webcm/builder --file builder.Dockerfile --progress plain .

      # 4️⃣ 运行 make
      - name: Build WebCM
        run: make

      # 5️⃣ 上传构建产物
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: webcm-build
          path: |
            webcm.wasm
            webcm.mjs
            rootfs.ext2
