name: Build WebCM

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker builder image
        run: docker build --tag webcm/builder --file builder.Dockerfile .
      - name: Run make
        run: make
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: webcm-build
          path: |
            webcm.wasm
            webcm.mjs
            rootfs.ext2
